.delete-popup {
  height: 30vh;
  width: 50vw;
  background-color: $white;
  padding-top: 5vh;
  border-radius: 10px;
  display: none;
  &__text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
  }
  &__link {
    display: flex;
    width: 20vw;
    margin: 10vh auto;
    justify-content: space-between;
    &__responce {
      list-style: none;
      &__yes {
        font-size: 25px;
        text-decoration: none;
        color: $blue;
        border: 1px solid $blue;
      }
      &__no {
        font-size: 25px;
        text-decoration: none;
        color: $red;
        border: 1px solid $red;
      }
    }
  }
}